.videoPlayer {
    width: 350px;
    height: 350px;
}

.imageView {
    width: 350px;
    height: 350px;
}

.imageView img {
    vertical-align: middle;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.margin-lr-auto {
    margin-left: auto;
    margin-right: auto;
}

.btnTryAgain {
    margin-bottom: 20px;
}
